:root {
  --color-accent: #B88E2F;
  --grey-background: #F4F5F7;
  --grey-text: #9F9F9F;
  --white: #FFFFFF;
  --black: #000000;


  --background: #FFF3E3;
  --background-1: #FCF8F3;
  --background-2: #F9F1E7;
  --background-3: #FAF3EA;

  --discount: #E97171;
  --new: #2EC1AC;
}
