.page-heading {
  width: 100vw;
  height: 316px;
  background-image: url("/assets/images/desktop/shop/hero.svg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
