
<footer>
    <div class="container footer-main-content">
        <div class="footer-heading">
            <span class="title">Furniro.</span>
            <span class="address" >400 University Drive Suite 200 Coral</span>
            <span class="address">Gables,</span>
            <span class="address">FL 33134 USA</span>
        </div>
        <div class="links-holder">
            <h3 class="footer-holder-title">Links</h3>
            <div class="footer-options">
                <a href="">Home</a>
                <a href="">Shop</a>
                <a href="">About</a>
                <a href="">Contact</a>
            </div>
        </div>
        <div class="help-holder">
            <h3 class="footer-holder-title">Help</h3>
            <div class="footer-options">
                <a href="">Payment options</a>
                <a href="">Returns</a>
                <a href="">Privacy policies</a>
            </div>
        </div>
        <div class="newsletter-holder">
            <h3 class="footer-holder-title">Newsletter</h3>
        </div>
    </div>
    <div class="container footer-rights-reserved">
        <span>2023 furino. All rights reverved</span>
    </div>
</footer>